# 管理员用户ID
ADMIN_USER_IDS=xx

# 聚合登录设置
AGGREGATE_LOGIN_APPID=xx
AGGREGATE_LOGIN_APPKEY=xx

# NextAUTH设置
NEXTAUTH_SECRET=xx
NEXTAUTH_URL=https://example.com
AUTH_TRUST_HOST=true

# 数据库
DB_PROVIDER=supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY=xx
NEXT_PUBLIC_SUPABASE_URL=https://xx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=xx

# API 密钥
DEFAULT_OPENAI_BASE_URL=https://api.openai.com
DEFAULT_OPENAI_API_KEY=sk-xx
KEY_ENCRYPTION_SECRE=xx